@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

* {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #111111;
}

.wrapper-outer {
    width: 100%;
    height: 500px;
}

.wrapper-inner {
    width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Как опустить подчеркивание на 2 пикселя? */

a:hover {
    color: #CDAA7D;
    text-decoration: underline;
}

a:active {
    color: #80561f;
    text-decoration: underline;
}

 /* === HEADER === */

 .main-navigation {
    display: flex;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    align-items: center;

 }

 .main-menu-left {
    list-style: none;
    display: flex;
 }

 .main-menu-right>li {
    margin-right: 80px;
 }

 .main-menu-right {
    list-style: none;
    display: flex;
 }

 .main-menu-left>li {
    margin-right: 80px;
 }

 .section-header .wrapper-inner {
    border-bottom: 1px solid #FFFFFF;
    height: 100px;
 }

 .header-inst {
    margin-right: 120px;
    transition: 0.2s;
 }

 .header-inst:hover {
    transform: scale(1.2);
 }


 .header-logo {
    margin: 30px 120px 30px 40px;
 }

 .header-logo:hover {
    transform: scale(1.2);
 }

 .header-button {
    margin-left: 40px;
 }

 /* === FIRST SCREEN === */

 /* === RIGHT MENU ===  */

 /* === TEXT === */

/* === SERVICES === */

 /* === COSMETICS === */

 /* === OUR WORK === */

 /* === FOOTER ===  */

